{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- header -->
    {%include "polls/header.html"%}

    <body>
    {%include "polls/navibar.html"%}

        <!-- Features -->
        <div class="features-container section-container">
	        <div class="container">

	            <div class="row">
	                <div class="col-sm-12 features section-description wow fadeIn">
	                    <h2>Facenet Emotion Web</h2>
	                    <div class="divider-1"><div class="line"></div></div>
	                </div>
	            </div>

	            <div class="row">
	                <div class="col-sm-6 features-box wow fadeInLeft">
	                	<div class="row">
	                		<div class="col-sm-3 features-box-icon">
	                			<i class="fa fa-twitter"></i>
	                		</div>
	                		<div class="col-sm-9">
	                			<h3>Upload Image To Train</h3>
		                    	<p>
		                    		...
		                    	</p>
	                		</div>
	                	</div>
	                </div>
	                <div class="col-sm-6 features-box wow fadeInLeft">
	                	<div class="row">
	                		<div class="col-sm-3 features-box-icon">
	                			<i class="fa fa-instagram"></i>
	                		</div>
	                		<div class="col-sm-9">
	                			<h3>Upload Your Emotion Image</h3>
		                    	<p>
		                    		...
		                    	</p>
	                		</div>
	                	</div>
	                </div>
	            </div>

	            <div class="row">
	                <div class="col-sm-6 features-box wow fadeInLeft">
	                	<div class="row">
	                		<div class="col-sm-3 features-box-icon">
	                			<i class="fa fa-magic"></i>
	                		</div>
	                		<div class="col-sm-9">
	                			<h3>Train Model</h3>
		                    	<p>
		                    		....
		                    	</p>
	                		</div>
	                	</div>
	                </div>
	                <div class="col-sm-6 features-box wow fadeInLeft">
	                	<div class="row">
	                		<div class="col-sm-3 features-box-icon">
	                			<i class="fa fa-cloud"></i>
	                		</div>
	                		<div class="col-sm-9">
	                			<h3>Face and Emotion Detection</h3>
		                    	<p>
		                    		...
		                    	</p>
	                		</div>
	                	</div>
	                </div>
	            </div>

	        </div>
        </div>

      <!-- footer -->
      {% include "polls/footer.html" %}


        <!-- Javascript -->
        <script src="{% static "polls/assets/js/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "polls/assets/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "polls/assets/js/jquery.backstretch.min.js" %}"></script>
        <script src="{% static "polls/assets/js/wow.min.js" %}"></script>
        <script src="{% static "polls/assets/js/retina-1.1.0.min.js" %}"></script>
        <script src="{% static "polls/assets/js/scripts.js" %}"></script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
