{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<form action="{% url 'polls:uploademotion' %}" method="post">
{% csrf_token %}
<div class="embed-responsive embed-responsive-16by9">
  <video width="300" height="150" autoplay></video>
</div>
<img src="" name="myimage" class="img-fluid" alt="">
<input type="hidden" name="image">
<canvas style="display:none;" width="300" height="150"></canvas>

<script>


 var errorCallback = function(e) {
   console.log('Reeeejected!', e);
 };
 var video = document.querySelector('video');
 var canvas = document.querySelector('canvas');
 var ctx = canvas.getContext('2d');
 var localMediaStream = null;
 var image = new Image();


 function snapshot() {
   if (localMediaStream) {
     ctx.drawImage(video,0, 0, 300, 150);
     // "image/webp" works in Chrome.
     // Other browsers will fall back to image/png.
     image.src = canvas.toDataURL('image/png');
     document.querySelector('input[name="image"]').value = canvas.toDataURL('image/png');
     document.querySelector('img').src = canvas.toDataURL('image/png');
   }
 }
 video.addEventListener("click", snapshot, true);

 navigator.getUserMedia = ( navigator.getUserMedia ||
                        navigator.webkitGetUserMedia ||
                        navigator.mozGetUserMedia ||
                        navigator.msGetUserMedia);


 // Not showing vendor prefixes or code that works cross-browser.
 navigator.getUserMedia({video: true}, function(stream) {
   video.src = window.URL.createObjectURL(stream);
   localMediaStream = stream;
 }, errorCallback);
</script>
<!-- <input type="submit" value="Submit" /> -->
<br>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
