{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- header -->
    {%include "polls/header.html"%}

    <body>
    {%include "polls/navibar.html"%}

    <!-- Features -->
    <div class="features-container section-container">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">
                  <div class="col-sm-3 features-box-icon">
                    <i class="fa fa-instagram"></i>
                  </div>
                  <div class="col-sm-9">
                    <h3>Emotion Upload</h3>
                    <p>
                      {%include "polls/webcamjs.html" %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>




      <!-- footer -->
      {% include "polls/footer.html" %}


        <!-- Javascript -->
        <script src="{% static "polls/assets/js/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "polls/assets/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "polls/assets/js/jquery.backstretch.min.js" %}"></script>
        <script src="{% static "polls/assets/js/wow.min.js" %}"></script>
        <script src="{% static "polls/assets/js/retina-1.1.0.min.js" %}"></script>
        <script src="{% static "polls/assets/js/scripts.js" %}"></script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
